body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.post-container {
    width: 400px;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

.post-header {
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.html-icon {
    font-size: 28px;
}

.username {
    font-weight: bold;
    font-size: 14px;
}

.location {
    font-size: 12px;
    color: gray;
}

.post-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    font-size: 22px;
}

.left-icons {
    display: flex;
    gap: 15px;
}

.post-details {
    padding: 0 12px 15px;
    font-size: 14px;
}

